@using TodoList.ViewModels.Account;
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}
 
<main class="client-page">
    <div class="container-content">

        <header style="color : #2ec4b6 "><h2> REGISTER </h2></header>

        <div class="form-layer">

            <form asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="input-group">
                    <span class="input-group-addon" id="username"><i class="zmdi zmdi-account"></i></span>
                    <input asp-for="UserName" type="text" class="form-control" placeholder="User Name" aria-describedby="username">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="Email" aria-describedby="email-address">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password " aria-describedby="password">
                </div>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for ="ConfirmPassword" type="password" class="form-control" placeholder="Re  " aria-describedby="password">
                </div>

       
                <div asp-validation-summary="All" class="text-danger">
                </div>
           
                <div>
                    <button style="display:inline" type="submit" class="btn btn-success"> <i class="zmdi zmdi-account"></i>REGISTER </button>
                    <a href="/LOGIN" type="submit" class="btn btn-primary"> <i class="zmdi zmdi-account"></i> LOGIN </a>

                </div>
            </form>
        </div>

    </div>
</main>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}